@page "/"
@inject IFruitPressService _fruitPressService
@inject NavigationManager NavManager

<PageTitle>Home</PageTitle>

<h1 class="text-center">Lemonad Stand CodeTest</h1>
<hr>
<h3 class="text-center">Avaliable recipes</h3>
<div class="row mt-4">
    @foreach(var recipe in Recipes) {
        <_RecipeCard Recipe=recipe />
    }
</div>
    <hr class="mt-4">
<div class="row">
    <h3 class="text-center">Customer order</h3>
</div>
<div class="row">
      <EditForm Model=@InputFields>
        <select class="form-select form-select-lg mb-3" @onchange="SetSelectedRecipe" aria-label=".form-select-lg">
            <option selected>Select recipe</option>
            @for(int i = 0; i < Recipes.Count(); i++) {
                <option value="@i">@Recipes[i].Name</option>
            }
        </select>
        <div class="form-floating mb-3">
            <InputNumber id="orderedGlasses" class="form-control" @bind-Value="InputFields.OrderedGlasses" />
            <label for="floatingInput" class="ml-2">Order quantity</label>
        </div>
        <div class="form-floating mb-3">
            <InputNumber id="moneyPaid" class="form-control" @bind-Value="InputFields.MoneyPaid" />
            <label for="moneyPaid" class="ml-2">Money paid</label>
        </div>
        <div hidden="@(!ShowApple)" class="form-floating mb-3">
            <InputNumber @bind-Value="InputFields.FruitsAdded" class="form-control" />
            <label class="ml-2">Apples added</label>
        </div>
        <div hidden="@(!ShowOrange)" class="form-floating mb-3">
            <InputNumber @bind-Value="InputFields.FruitsAdded" class="form-control" />
            <label class="ml-2">Oranges added</label>
        </div>
        <div hidden="@(!ShowMelon)" class="form-floating mb-3">
            <InputNumber @bind-Value="InputFields.FruitsAdded" class="form-control" />
            <label class="ml-2">Melons added</label>
        </div>
        <input type="submit" value="Process order" class="btn btn-primary" @onclick="@(() => { InvokedFruitPressService(); StateHasChanged(); })" />
    </EditForm>
</div>

