@page "/"
@inject IFruitPressService _fruitPressService

<PageTitle>Home</PageTitle>

<h1 class="text-center">Lemonad Stand CodeTest</h1>
<hr>
<h3 class="text-center">Avaliable recipes</h3>
<div class="row mt-4">
    <div class="col-lg-4">
        <div class="card text-center">
        <div class="card-header">
            <strong>@AppleLemonade.Name</strong>
        </div>
        <div class="card-body">
            <img src="..." class="card-img-top" alt="...">
            <h5 class="card-title">Price per glass: @AppleLemonade.PricePerGlass</h5>
            <hr>
            <h5 class="card-title">Fruits per glass: @AppleLemonade.ConsumptionPerGlass</h5>
        </div>
        <div class="card-footer text-muted">
            Total sold: 2
        </div>
        </div>
    </div>
<div class="col-lg-4">
        <div class="card text-center">
        <div class="card-header">
            <strong>Melon Lemonade</strong>
        </div>
        <div class="card-body">
            <img src="..." class="card-img-top" alt="...">
            <h5 class="card-title">Price per glass: 12</h5>
            <hr>
            <h5 class="card-title">Fruits per glass: 0,5</h5>
        </div>
        <div class="card-footer text-muted">
            Total sold: 22
        </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card text-center">
        <div class="card-header">
            <strong>Orange Lemonade</strong>
        </div>
        <div class="card-body">
            <img src="..." class="card-img-top" alt="...">
            <h5 class="card-title">Price per glass: 9</h5>
            <hr>
            <h5 class="card-title">Fruits per glass: 1</h5>
        </div>
        <div class="card-footer text-muted">
            Total sold: 2
        </div>
        </div>
    </div>
</div>
    <hr class="mt-4">
<div class="row">
    <h3 class="text-center">Customer order</h3>
</div>
<div class="row">
    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg">
        <option selected>Select recipe</option>
        <option value="1">Apple Lemonade</option>
        <option value="2">Melon Lemonade</option>
        <option value="3">Orange Lemonade</option>
    </select>
</div>
<div class="row">
    <EditForm Model="@OrderedGlasses">
        <div class="form-floating mb-3">
            <InputNumber id="orderedGlasses" class="form-control" @bind-Value="OrderedGlasses" />
            @* <input type="number" class="form-control" id="floatingInput" placeholder="10.99"> *@
            <label for="floatingInput" class="ml-2">Order quantity</label>
        </div>
    </EditForm>
</div>
<div class="row">
    <EditForm Model="@MoneyPaid">
        <div class="form-floating mb-3">
            @* <input type="number" class="form-control" id="floatingInput" placeholder="10.99"> *@
            <InputNumber id="moneyPaid" class="form-control" @bind-Value="MoneyPaid" />
            <label for="moneyPaid" class="ml-2">Money paid</label>
        </div>
    </EditForm>
</div>
<div class="row">
    <div class="form-floating mb-3">
        <input type="number" class="form-control" id="floatingInput" placeholder="10.99">
        <label for="floatingInput" class="ml-2">Apples added</label>
    </div>
</div>
<div class="row">
    <div class="form-floating mb-3">
        <input type="number" class="form-control" id="floatingInput" placeholder="10.99">
        <label for="floatingInput" class="ml-2">Melons added</label>
    </div>
</div>
<div class="row">
    <div class="form-floating mb-3">
        <input type="number" class="form-control" id="floatingInput" placeholder="10.99">
        <label for="floatingInput" class="ml-2">Oranges added</label>
    </div>
</div>
<div class="row">
    <div class="col-lg-2">
        <button class="btn btn-primary btn-default">Process order</button>
    </div>
</div>
